<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
		<!-- Header  -->
		<h1 id="header"><%= currentUser.username%>'s Profile</h1>
		<%- include('../partials/logout.ejs') %>

		<div class="row">
			<!-- Side Nav -->
			<div class="col s12 m4 l2"><%- include('../partials/nav.ejs') %></div>
			<!-- Recipe Content -->
			<div class="col s12 m8 l8">
				<div>
					<h1>tst1</h1>
				</div>
			</div>
			<!-- Ingredients Bulletin -->
			<div class="col s12 m4 l2">
				<div></div>
			</div>
		</div>
	</body>
</html>
