<ul>
	<li><a class="waves-effect waves-light btn" href="/app"> Home </a></li>
	<li>
		<a class="waves-effect waves-light btn" href="/app/profile"> Profile </a>
	</li>
	<li>
		<a class="waves-effect waves-light btn" href="/app/recipe/new">
			New Recipe / Idea
		</a>
	</li>
</ul>
