<ul>
	<li><a class="waves-effect waves-light btn" href="#"> Home </a></li>
	<li>
		<a class="waves-effect waves-light btn" href="#"> Profile </a>
	</li>
	<li>
		<a class="waves-effect waves-light btn" href="#"> New Recipe / Idea </a>
	</li>
</ul>
