<ul>
	<li>
		<a class="waves-effect waves-light btn" href="/app" id="navbtn"> Home </a>
	</li>
	<li>
		<a class="waves-effect waves-light btn" href="/app/profile" id="navbtn">
			My Profile
		</a>
	</li>
	<li>
		<a class="waves-effect waves-light btn" href="/app/recipe/new" id="navbtn">
			New Recipe / Idea
		</a>
	</li>
</ul>
