<!-- Recicpe Name -->
<input
	placeholder=""
	id="recipe"
	type="text"
	class="validate"
	name="recipe"
	required
/>
<label for="recipe">Recipe / Idea Name</label>

<!-- Ingredients -->
<input
	placeholder=""
	id="ingredients"
	type="text"
	class="validate"
	name="ingredients"
	required
/>
<textarea rows="4" cols="50" name="ingredients" form="recipeform"></textarea>
<label for="ingredients">Ingredients</label>

<!-- Instructions -->
<input
	placeholder=""
	id="ingredients"
	type="text"
	class="validate"
	name="ingredients"
	required
/>
<textarea rows="4" cols="50" name="instructions" form="recipeform"></textarea>
<label for="instructions">Instructions</label>

<!-- Submit -->
<button class="btn waves-effect waves-light" type="submit" name="action">
	Submit
</button>
