<!-- Recicpe Name -->
<input
	placeholder=""
	id="name"
	type="text"
	class="validate"
	name="name"
	required
/>
<label for="name">Recipe / Idea Name</label>

<!-- Ingredients -->

<textarea
	rows="8"
	cols="50"
	id="ingredients"
	class="validate"
	name="ingredients"
	form="recipeform"
	required
></textarea>

<label for="ingredients">Ingredients</label>

<!-- Instructions -->
<textarea
	rows="8"
	cols="50"
	id="instructions"
	class="validate"
	name="instructions"
	form="recipeform"
	required
></textarea>
<label for="instructions">Instructions</label>

<!-- Author -->
<input
	type="hidden"
	id="author"
	name="author"
	value="<%= currentUser.username %>"
/>

<!-- Submit -->
<button class="btn waves-effect waves-light" type="submit" name="action">
	Submit
</button>
