<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
	</head>
	<body>
		<div class="container" id="main-page">
			<img
				src="/images/food-nomad-salad-logo.jpg"
				alt=""
				class="z-depth-2"
				id="main-logo"
			/>
			<h1 id="app-title">Food Nomad</h1>
			<div class="main-btn-container">
				<a
					class="waves-effect waves-light yellow darken-4 btn log-in-btn"
					id="sign-up"
					href="/users/new"
				>
					Sign Up
				</a>
			</div>
			<div class="main-btn-container">
				<a
					class="waves-effect waves-light white btn log-in-btn"
					id="log-in"
					href="/sessions/new"
				>
					Log In
				</a>
			</div>
		</div>

		<%- include('./partials/footer.ejs') %>
	</body>
</html>
