/* div {
	border: 1px solid red;
} */

/* ! General */

#sidenav,
#content,
#bulletin {
	height: 100vh;
}

/* ! Sidenav */
/* #sidenav {
	min-width: 15vw;
} */
#navbtn {
	width: 12em;
	margin-top: 2em;
}

/* ! Content */
#content {
	overflow-y: scroll;
}

.flex-container {
	display: flex;
	flex-direction: row;
}

.flex-item {
	padding: 1em;
	margin-left: 2em;
	width: 400px;
	min-width: 200px;
}
/* ! Bulletin */

/* ! Footer */
footer {
	padding-bottom: 1em;
}

/* ! Responsive Layout */
