<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
        <!-- Google Maps -->

        
	</head>
	<body>
		<!-- Header  -->
		<h2 id="header">Welcome to Food Nomad</h1>
		<%- include('../partials/logout.ejs') %>

		<!-- Body -->
		<div class="row">

			<!-- Side Nav -->
			<div class="col s3" id="sidenav">
				<%- include('../partials/nav.ejs') %>
			</div>
			
			<!-- Map Content -->
			<div class="col s9" id="content">
                <div id="map">
                    
                </div>
			</div>

	
		</div>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
