<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
    <body>
      <div class="container">
        <h1>New Nomad</h1>
        <div >
          <form action="/users" method="POST">
            <%- include('../partials/userform.ejs') %>
          </form>
        </div>
    </body>
</html>