<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
    <body>
      <div>
        <h1>New Nomad</h1>
        <div >
          <form action="/users" method="POST">
           <!-- Form For User Sign up -->

          <!-- Username -->
          <div class="row">
            <div>
              <input
                placeholder="username"
                id="username"
                type="text"
                class="validate"
                name="username"
                required
              />
              <label for="username">User Name</label>
            </div>
          </div>

          <!-- Password -->
          <div class="row">
            <div>
              <input
                id="password"
                type="password"
                class="validate"
                name="password"
                required
              />
              <label for="password">Password</label>
            </div>
          </div>

          <!-- Email -->
          <div class="row">
            <div>
              <input
                placeholder="foodnomad@mail.com"
                id="email"
                type="email"
                class="validate"
                name="email"
                required
              />
              <label for="username">Email</label>
            </div>
          </div>

          <!-- Zip Code -->
          <div class="row">
            <div>
              <input
                placeholder="123456"
                id="zip"
                type="text"
                class="validate"
                name="zip"
                pattern="[0-9]*"
              />
              <label for="zip">Zip Code</label>
            </div>
          </div>

          <!-- Submit -->
          <button class="btn waves-effect waves-light" type="submit" name="action">
            Submit
          </button>

          </form>
          <a class="waves-effect waves-light btn" href="/"> Back </a>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>